
    body {
      width: 80%;
      margin: 0 auto;
      background-color: orange;
    }
     form {text-align: center;
            display: inline-block;
            margin-left: 25%;
            width:50%;
            background-color:white;
            font-family: sans-serif;
            
        }

    label {
      display: inline-block;
      width: 15em;
    }

    input{
      width: 5em;
    }

